.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 15px 30px;
}

.logo {
  color: antiquewhite;
  font-size: 30px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 10px;
  padding: 10px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: orangered;
}

body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  text-align: left;
  border: 2px solid black;
  padding: 5px;
  margin: 20px;
  border-radius: 20px;
  background-color: aqua;
}

.card-container {
  border: 2px solid black;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;;
  margin-top: 28px;
  height: fit-content;
  flex: 1;
}

.card {
  border-radius: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 300px;
  box-shadow: 04px 8px black;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover
}